<div id="header">
</div>

<div id="add">

    <h2>Add a Burger:</h2>
    <form class="create-form">

    <div class="form-group">
        <input type="text" id="new-burger" name="name">

        <button id="added">Add</button>
        <div id="err"></div>
    </div>
    </form>
</div>

<br>

<div id="on-plate">
    <h2>On Your Plate:</h2>

    <ol>
    {{#each burgers}}
        {{#unless devoured}}
	            <div class="on-plate">{{id}}. {{name}}
	            <button class="change-devour" data-id="{{id}}" data-devour="{{devour}}">Devour!
	             </button>
                 </div>
        {{/unless}}
    {{/each}}
    </ol>
</div>

<div id="devoured">

    <h2>Devoured:</h2>

    <ol>
    {{#each burgers}}
        {{#if devoured}}
	            <div class="devour">{{id}}. {{name}}</div>
        {{/if}}
    {{/each}}
    </ol>
</div>